<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Your name">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Your name professional website">
    <title>Document</title>
</head>
<body style="font-family: Arial">
<header>
    <h1>David Chung</h1>
    <nav><a href="../index.html">Home</a> </nav>
    <nav><a href="cv.html">CV</a> </nav>
    <nav><a href="contact.html">Contact Me</a> </nav>
    <nav><a href="fun.html">For Fun</a> </nav>
</header>
<div class="main" >
    <h2>Curriculum Vitae</h2>
    <table>
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
        <tr>
          <td>HPE CodeWars</td>
          <td>2024 National Advanced 5th Place, 2023 National Novice 2nd Place </td>
        </tr>
        <tr>
          <td>Lockheed Martin CodeQuest</td>
          <td>International Advanced 7th</td>
        </tr>
      </table>
      <a href="../static/resume.pdf" download target="_blank">Resume.pdf </a>
    </div>
    <footer>© 2025 by David Chung</footer>
</body>
</html>